picture img {
    display: block;
    margin: 0 auto;
    padding: 5px;
}

h1 {
    text-align: center;
    color: pink;
    background-color: rgb(19, 103, 75);
    width: fit-content;
    margin: 0% auto;
    padding: 10px;
}