/*********************
        COLORS 
*********************/
:root {
    --main-color: #2D3E40;
    --second-color: #387373;
    --accent-color-1: #93BFB7;
    --accent-color-2: #97A6A0;
    --off-white: #E4F2E7;
    --background-color: #E4F2E7;
    --color-opacity: rgb(56, 115, 115, .8);

    --font-main: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* html, body {
    overflow-y: hidden;
} */


/*********************
    INDEX PAGE 
*********************/
body {
    background-color: var(--background-color);
    width: 100%;
    font-family: var(--font-main);
    min-height: 1000px;
}

/* Navagation Bar */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 5px 5px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
    padding-left: 5px;
}


.nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
    font-weight:500;
}

.nav a:hover {
    background-color: var(--accent-color-1);
    /* border-bottom: 2px solid var(--main-color); */
    transition: 0.3s;
}

.name-box {
    padding: 20px 30px 20px 30px;
    background-color: var(--second-color);
    font-size: larger;
    font-weight: bold;
    color: var(--off-white);
    margin: auto;
    
}


.active {
    background-color: var(--accent-color-1);
    border-bottom: 2px solid #2D3E40;
}

nav .active:hover {
    background-color: var(--second-color);
    border-color: var(--second-color);
    
}

main {
    height: 100%;
}


#hero-area {
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 225px;
    padding-top: 100px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-img {
    width: 100%;
    height: 675px;

    box-shadow: 5px 5px 10px var(--accent-color-2);
}
.right {
    width: 50%;
    min-height: 200px;
    background-color: var(--color-opacity);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: var(--background-color);
    margin-left: -150px;
    margin-bottom: -600px;

    box-shadow: 5px 5px 10px var(--accent-color-2);
}
.right h1 {
    font-size: 40px;
    font-weight: lighter;
}
.right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}
.right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--background-color);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
}




.index-hr {
    width: 80%;
}

#about-me {
    padding-top: 100px;
    padding-bottom: 100px;
    
}


/*********************
  ABOUT ME CONTAINER
*********************/

.ab-container {
    background-color: var(--second-color);
    width: 70%;
    height: auto;
    color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 0px auto;

    box-shadow: 5px 5px 10px var(--accent-color-2);
}
.ab-content h2 {
    font-size: 40px;
    font-weight: lighter;
}
.ab-content p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}






/*********************
        FOOTER
*********************/

footer {
    background-color: var(--main-color);
    margin-top: 100px;
    padding: 30px 0px 30px 0px;
    width: 100%;
}

#ft-area {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    height: 100px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.social-media a {
    height: 90%;
}

.social-media {
    display: flex;
    gap: 10px;
    margin: 10px;
}
.social-media a:hover {
    filter: brightness(130%);
    transform: scale(1.1);
}

.ft-contact .contact-button {
    color: var(--main-color);
    font-weight: 500;
    text-decoration: none;
    background-color: var(--accent-color-1);
    padding: 10px;
    border: 0;
}
.contact-button:hover {
    background-color: var(--second-color);
    color: var(--background-color);
    
    
}

footer img {
    width: 40px;
}

.visited {
    background-color: var(--accent-color-1);
    color: var(--main-color);
    padding: 10px;
    font-weight: 500;
}

.check-me-out {
    font-weight: 500;
    color: var(--accent-color-1);
    padding-right: 10px;
}

.site-plan-link {
    color: var(--main-color);
    /* text-align: center; */
    align-items: center;
    background-color: var(--accent-color-1);
    padding: 10px;
    font-weight: 500;
    font-size: 1.05em;
    width: 15%;
    margin: 0 auto;
}
.site-plan-ft-box {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.site-plan-link {
    text-decoration: none;
    margin: 0 auto;
}


.site-plan-link:hover {
    background-color: var(--second-color);
    color: var(--background-color);
}









/* CIRCLE IMAGE
.circle-image {
    margin: auto;
    width: 600px;
    opacity: .5;
    z-index: -10;

    margin-top: -400px;
    margin-left: -300px;
    animation: mymove 400s infinite;
    
    

}

@keyframes mymove {
    100% {transform: rotate(1080deg);}
  } */



/*********************
    Site-Plan Page
*********************/
.site-plan-box-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    width: 60%;
}
.wireframes-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    gap: 30px;
}
.box {
    background-color: var(--accent-color-1);
    padding: 15px 50px;
    box-shadow: 5px 5px 10px var(--main-color);

}
.site-plan-ab-container {
    background-color: var(--second-color);
    width: 50%;
    height: auto;
    color: var(--background-color);
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 30px;
    margin: 50px auto;

    box-shadow: 5px 5px 10px var(--accent-color-2);
}







/*********************
    Projects Page
*********************/

.project-main {
    width: 90%;
    margin: 0 auto;
    
}
.project-title {
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    /* justify-content: center; */
}

.project-header {
    margin: 0 auto;
    width: 100%;
    padding-top: 80px;
    padding-left: 100px;
    color: var(--main-color);
    /* padding-left: 10%; */
    /* padding: 30px; */
}
.project-hr-tag {
    width: 400px;
    margin-left: 6%;
    float: left;
    
    border: 1px solid var(--accent-color-2);
}




.flex-boxes {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 40px;
    padding-top: 150px;
    justify-content: center;
}
embed {
    width: 500px;
    height: 600px;
}

.project-boxes {
    background-color: var(--second-color);
    width: 500px;
    height: auto;
    color: var(--background-color);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 0px auto;
    padding-bottom: 40px;

    box-shadow: 5px 5px 10px var(--accent-color-2);

    position: relative;
}
.project-boxes h2 {
    font-size: 30px;
    font-weight: lighter;
}
.project-boxes p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
    
}

.project-boxes a p{
    color: var(--accent-color-1);
    position: absolute;
    bottom: 0;
}

.project-boxes a p:hover {
    color: var(--background-color);
    text-decoration: underline;
}

.boxes-hr {
    margin: 0;
    
    width: 75%;
}

.boxes-br {
    padding-top: 20px;
}




/*********************
  Project Page Tabs
*********************/

.tab {
    padding-top: 100px;
    /* border: 2px solid var(--main-color); */
    margin: 10px;
    float: left;
    width: 15%;
    height: 200px;
    /* background-color: red; */
}
.tab button {
    /* height: 30px; */
    padding: 5px;
    width: 90%;
    justify-content: center;
    /* text-align: ; */
    margin: 5px;
    border: none;
    background-color: var(--background-color);
    /* color: var(--background-color); */
    font-weight: 500;
    border-left: 3px solid var(--main-color);
    
}
.tab-hr-tag {
    display: block;
    border: 1px solid var(--accent-color-2);
}
.tab button {
    cursor: pointer;
    background-color: inherit;
}
.tab button:hover {
    background-color: var(--accent-color-1);
    border-color: var(--accent-color-1);
    transition: 0.3s;
}
.tab button.active {
    background-color: var(--accent-color-1);
}
.tab button.active:hover {
    background-color: var(--second-color);
    border-color: var(--second-color);
}








/*********************
      Media Q's
*********************/

@media only screen and (max-width: 768px) {

    #hero-area{
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .container {
        flex-direction: column;
        width: 100%;
        margin: 0px 20px 0px 30px;
    }
    
    
    .hero-img {
        width: 100%;
        height: auto;
        
    }

    /* Change the size of headers */
    .right {
        width: 90%;
        margin: 0;
        margin-top: -30px;
    }
    .right h1 {
        font-size: 35px;
    }
    .ab-content h2 {
        font-size: 35px;
    }


    .ab-container {
        width: 80%;

    }
    
    

    

    /*********************
        Footer
    *********************/

    #ft-area {
        margin: 0 auto;
        display: flex;
        flex-direction: row; 
        padding-bottom: 60px;
        justify-content: center;
        
    }

    .site-plan-link {
        width: 30px;
    }
    .social-media {
        display: flex;
        flex-wrap: wrap;justify-content: center;
        text-align: center;
    }
    
    
    /* footer section {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 100px;
    } */



/*********************
    Projects Page
*********************/
    .flex-boxes {
        margin: 0 auto;
        /* background-color: red; */
    }

    .project-header {
        padding: 0px;
    }

    /* .flex-boxes {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        gap: 40px;
        padding-top: 150px;
        justify-content: center;
    } */
    embed {
        width: 400px;
        height: 500px;
    }
    
    .project-boxes {
        background-color: var(--second-color);
        width: 400px;
        height: auto;
        color: var(--background-color);
        /* display: flex; */
        align-items: center;
        justify-content: center;
        padding: 30px;
        margin: 0px auto;
        padding-bottom: 40px;
    
        box-shadow: 5px 5px 10px var(--accent-color-2);
    
        position: relative;
    }
    .project-boxes h2 {
        font-size: 30px;
        font-weight: lighter;
    }
    .project-boxes p {
        margin: 20px 0;
        font-weight: 500;
        line-height: 25px;
        
    }

    .project-title {
        margin: 0 auto;
        padding: 0px;
        text-align: center;
        justify-content: center;
    }
    .project-hr-tag {
        width: 90%;
        
    }
    .tab {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        float: none;
        width: fit-content;
        align-items: center;

        width: 100%;
        height: auto;
        padding-bottom: 100px;
        padding-top: 50px;
    }
    .tab-hr-tag {
        display: none;
    }
    
}