/*********************
        COLORS 
*********************/
:root {
    --main-color: #2D3E40;
    --second-color: #387373;
    --accent-color-1: #93BFB7;
    --accent-color-2: #97A6A0;
    --off-white: #E4F2E7;
    --background-color: #E4F2E7;
    --color-opacity: rgb(56, 115, 115, .8);

    --font-main: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/*********************
    INDEX PAGE 
*********************/
body {
    background-color: var(--background-color);
    width: 100%;
    font-family: var(--font-main);
    /* text-align: center; */
    
}

/* Navagation Bar */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 5px 5px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
    padding-left: 5px;
}


.nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
    /* background-color: var(--accent-color-2); */
    font-weight:500;
}

.nav a:hover {
    background-color: var(--accent-color-1);
}

.name-box {
    padding: 20px 30px 20px 30px;
    background-color: var(--second-color);
    font-size: larger;
    font-weight: bold;
    color: var(--off-white);
    margin: auto;
    
}


.active {
    background-color: var(--accent-color-1);
}

nav .active:hover {
    background-color: var(--second-color);
}

/* Main Content */
/* main {
    padding: 0px 0px 50px 0px;
} */




/*********************
    Hero Box
*********************/

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap"); */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
/* html {
  font-family: "Montserrat";
} */
#hero-area {
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 225px;
    padding-top: 100px;
    /* background-color: var(--background-color); */
}
.container {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */

    
}
.hero-img {
    width: 100%;
    height: 675px;
    /* border-radius: 8px; */

    box-shadow: 5px 5px 10px var(--accent-color-2);
}
.right {
    width: 50%;
    min-height: 200px;
    background-color: var(--color-opacity);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    /* border-radius: 8px; */
    color: var(--background-color);
    margin-left: -150px;
    margin-bottom: -600px;
    box-shadow: 5px 5px 10px var(--accent-color-2);
}
.right h1 {
    font-size: 40px;
    font-weight: lighter;
}
.right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}
.right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--background-color);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
}




hr {
    width: 80%;
}

#about-me {
    padding-top: 100px;
    padding-bottom: 100px;
}


/*********************
  ABOUT ME CONTAINER
*********************/

.ab-container {
    background-color: var(--second-color);
    width: 70%;
    height: auto;
    color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 0 auto;

    box-shadow: 5px 5px 10px var(--accent-color-2);
}
.ab-content h2 {
    font-size: 40px;
    font-weight: lighter;
}
.ab-content p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}


/*********************
        FOOTER
*********************/

footer {
    background-color: var(--main-color);
    margin-top: 100px;
    padding: 40px 0px 40px 0px;
    /* display: flex;
    flex-wrap: wrap; */
    /* height: 200px; */
}

#ft-area {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    /* justify-content: space-between; */
    margin: 0 auto;
    height: 100px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
    

}
.social-media a {
    /* background-color: var(--accent-color-2); */
    height: 90%;
}

.social-media {
    display: flex;
    gap: 10px;
    margin: 10px;
}
.social-media a:hover {
    filter: brightness(130%);
    transform: scale(1.1);
}

.ft-contact .contact-button {
    color: var(--main-color);
    font-weight: 500;
    text-decoration: none;
    /* padding-left: 30px ; */
    background-color: var(--accent-color-1);
    padding: 10px;
    border: 0;
    
}
.contact-button:hover {
    background-color: var(--second-color);
    color: var(--background-color);
    
    
}

footer img {
    width: 40px;
}

.visited {
    background-color: var(--accent-color-1);
    color: var(--main-color);
    padding: 10px;
    font-weight: 500;
}





/* CIRCLE IMAGE */
.circle-image {
    margin: auto;
    width: 600px;
    opacity: .5;
    z-index: -10;

    margin-top: -400px;
    margin-left: -300px;
    animation: mymove 400s infinite;
    
    

}

@keyframes mymove {
    100% {transform: rotate(1080deg);}
  }














/*********************
      Media Q's
*********************/

@media only screen and (max-width: 768px) {

    #hero-area{
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .container {
        flex-direction: column;
        width: 100%;
        margin: 0px 20px 0px 30px;
    }
    /* .left {
        width: 100%;
        height: auto;
    } */
    .hero-img {
        width: 100%;
        height: auto;
        
    }

    /* Change the size of headers */
    .right {
        width: 90%;
        margin: 0;
        margin-top: -30px;
    }
    .right h1 {
        font-size: 35px;
    }
    .ab-content h2 {
        font-size: 35px;
    }


    .ab-container {
        width: 80%;

    }
    footer {
        
        /* flex-wrap: wrap; */
        /* justify-content: center; */
    }

    #ft-area {
        margin: 0 auto;
        /* justify-content: center; */
        display: flex;
        flex-direction: column;

        
    }
}