
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */



/* Variables */
:root {
--blue-active: #3373A3;
--blue-body: #B0D1EB;
--gray: #666665;
--border-gray: #979797;
--background-white: white;
--accent1: #F0B660;
--accent2: #F8DEB6;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* font-family: 'Roboto', sans-serif; */
}


body {
    text-align: center;
    padding: 10px;
    background-color: var(--blue-body);
}

.page-links {
    display: none;
}



.date {
    padding: 10px;
    background-color: var(--gray);
    font-size: 16px;
}

nav {
    background-color: var(--gray);
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;  
}

.nav-background {
    background-color: var(--gray);
    box-shadow: 0px 2px 10px var(--gray);
}

.topnav {
    background-color: var(--gray);
    display: flex;
    overflow: hidden;
    margin: 15px;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    padding: 10px;
    justify-content: space-between;
}

nav div a {
    text-decoration: none;
    font-size: 0.75em ;
    color: black;
}



/* Style the links inside the navigation bar */
.topnav a {
    float:left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;  
    /* width: 150px; */
    
}
.page-links a {
    width: 120px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--background-white);
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: var(--accent1);
    color: white;
    font-weight: bold;
}

.topnav a.active:hover {
    background-color: var(--blue-body);
    color: black;
}

p {
    /* max-width: 100%; */
    /* text-align: center; */
    margin: 0 auto;
    padding-bottom: 20px;
    color: black;
    font-size: 17px;
}


.box4-weather p {
    padding-bottom: 5px;
}

/* ADDING THE DORP DOWN MENU */
.topnav {
    overflow: hidden;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav .myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.ham {
    background: var(--accent2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: var(--background-white);
    color: black;
}


/* *******ADDED INFORMATION FROM THE OTHER PAGES********* */
.date p {
    background-color: var(--blue-body);
    width: 70%;
    margin: 0 auto;
    padding: 4px 50px;
    font-family: var(--roboto-font);
}

main {
    background-color: var(--background-white);
    display: flex;
    max-width: 450px;
    margin: 0 auto;
    max-height: 100%; 
    padding-bottom: 30px;
    padding: 15px;
}

#main-boxes {
    text-align: center;
}

#main-boxes > div {
    /* border: 1px solid var(--border-gray); */
    margin: 15px;
    /* background-color: lightgray; */
    /* padding: 15px; */
    /* height: auto; */
    color: var(--background-white);

}

#main-boxes h4 {
    text-align: center;
    font-size: larger;
    /* color: ; */
}

#main-boxes .spotlight-boxes {
    height: auto;
}

/* .box1-hero {
    width: fit-content;
    max-height: 100%;
    width: auto;
} */
.box1-hero img {
    height: 75%;
    width: 100%;
    /* border: 1px solid var(--border-gray); */


}




.spotlight-boxes div {
    margin: 10px;
    padding: 10px;
    color: black;

    /* display: flex;
    flex-wrap: wrap; */
    /* border: 1px solid var(--border-gray); */
    
}

.spotlight-boxes div img {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
    /* border: 1px solid var(--border-gray); */
    
}


.spotlight-boxes-holder hr, .box4-weather hr {
    width: 75%;
    border: 1px solid var(--gray) ;
}


.container div{
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 5px 10px var(--border-gray);
    
}


/* Background of the spotlight box container */
/* .container, .spotlight-boxes-holder {
    background-color: var();
    
    
} */

.spotlight-boxes-holder {
    background-color: var(--gray);
    padding: 5px 0px 5px 0px;
    /* display: flex;
    flex-wrap: wrap; */
    
}


.box4-weather p, .box4-weather, .box2-event, .box2-event p, .box5-join, .box5-join p {
    color: black;
    background-color: var(--accent2);


}

/* BUTTONS */
.box5-join h4 {
    background-color: var(--blue-body);
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 2px 2px 4px var(--gray);

}

.box5-join h4:hover {
    background-color: var(--accent1);
    color: white;
}





/* Hamburger Menu Icon */
.ham {
    padding: 5px;
    text-decoration: none;
    border: 1px solid rgb(143, 143, 143);

}


.ham-box .ham {
    margin: 20px;
    display: flex;
    color: var(--background-white);
    text-decoration: none;
    font-size: 120%;
    text-align: right;
}

/* Link to the Site Plan */
.site-plan-link p{
    text-decoration: none;
    width: fit-content;
    padding: 10px;
}

.site-plan-link p:hover {
    background-color: var(--accent2);
    color: black;
    font-size: 17px;
    
}


.spotlight-boxes div {
    background-color: var(--accent2);
    border: 1px solid var(--border-gray);
}
.box3-new-releases {
    background-color: var(--gray);
    /* margin: 50px; */
    /* padding-bottom: 30px; */
    padding: 5px 20px 20px 20px;
    margin-top: 20px;
}

.box3-new-releases p {
    color: white;
}

.spotlight-tree-fort {
    /* background-color: white; */
    display: none;
}
.spotlight-tree-fort img {
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    /* display: none; */
    overflow: hidden;
    height: 25%;
}


.hero-img {
    object-fit: cover;
    /* position: relative; */
    /* height:max-content; */
    
    
}
.box1-hero .text-box  {
    /* object-fit: cover; */
    /* position: relative; */
    /* height:max-content; */
    position: absolute;
    bottom: 750px;
    /* right: ; */
    /* background: rgba(0, 0, 0, 0.5); */
    background-color: var(--blue-body);
    opacity: .9;
    /* color: black; */
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 0px 30px 0px 10px;
    
    box-shadow: 5px 5px 10px black;

}


.text-box h2 {
    color: black;
    font-size: 20px;
    
    
    
}



/* Temp box that shows the current temperature */
p .temp {
    background: var(--blue-body);
    width: 40%;
    /* padding: 5px; */
    padding: 5px 15px 5px 15px;
    margin: 0 auto;
    box-shadow: 2px 2px 4px var(--gray);
    font-size: 24px;
    font-weight: bold;

    /* Don't know if I want this or not../ */
    border-radius: 5px;
}





/********************************
    START OF DISPLAY PAGE CSS
********************************/


.images {
    width: 400px;
    height: 300px;
}








/********************************
        Start of Join Page
********************************/

.my-form {
    width: 400px;
    margin: 100px auto;
    padding: 50px 0px 50px 0px;
    border: 2px solid var(--border-gray);
    background-color: var(--accent2);
    box-shadow: 2px 2px 4px var(--gray);
    font-weight: bold;
}

.form-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;

}


label {
    padding-bottom: 5px;
}

.textbox {
    min-width: 98%;
    display: flex;
    flex-wrap: inherit;
}


.radio-box {
    text-align: left;
    padding: 10px;
}
.member-label {
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;

}

.help {
    width: 250px;
    text-align: left;
    background-color: var(--accent2);
    margin: auto;
    padding: 15px;
    box-shadow: 2px 2px 4px var(--gray);
    border: 2px solid var(--border-gray);
    font-size: .9rem;

}


.content {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    /* padding: 25px; */
    margin: 0 auto;
    padding-bottom: 100px;
}


button{
    background-color: var(--blue-body);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: ; */
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px 4px var(--border-gray);
}

button:hover{
    background-color: var(--accent1);
    color: white;
}



/********************************
    Start of Directory Page
********************************/

main .directory-content {
    /* margin: 0 auto; */
    width: 90%;
    /* background-color: red; */
    
    
}

.cards {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    
}
.cards section {
    border: 1px solid var(--border-gray);
    background-color: var(--accent2);
    padding: 20px;
    text-align: center;
    /* width: 20%; */
    margin: 20px;
    box-shadow: 2px 2px 4px var(--gray);
}

.directory-content img {
    width: 90%;
    /* box-shadow: 5px 10px 8px 5px var(--border-gray); */
}

.cards section:hover {
    opacity: .7;
}

table {
    margin: 0 auto;
    padding-bottom: 100px;
    font-size: 20px;
    border-collapse: collapse;
    border: 1px solid var(--gray);

}
/* tr:first-child th {
	background-color: var(--blue-body);
	color: var(--black);
} */

td {
	padding: 25px 15px;
    text-align: center;
	/* border:  solid var(--background-white); */
}

/* th {
	background-color: var(--back2);
} */

td:nth-child(4) {
    text-decoration: underline;
    color:#666665
}

tr:nth-child(even) {
	background-color: var(--accent2);
}

tr:nth-child(odd) {
	background-color: var(--background-white);
}


/* Icons */
.material-symbols-outlined {
    font-size: 60px;
    gap: 20px;
}

.show-icons {
    padding-top: 70px;
}

.material-symbols-outlined:hover {
    background-color: var(--accent1);
    border-radius: 5px;
}

.directory-logo {
    padding-top: 100px;
}















@media only screen and (min-width: 32.5em) {
    :root {
        --blue-active: #3373A3;
        --blue-body: #B0D1EB;
        --gray: #666665;
        --background-white: white;
        --accent1: #F0B660;
        --accent2: #F8DEB6;
        --font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --roboto-font: 'Roboto';
        }

    /* nav {
        max-width: 950px;
    } */
    .topnav {
        color: white
    }
    main {
        display: flex;
        max-width: 750px;
        margin: 0 auto;
    }
    #main-boxes .spotlight-boxes {
        display: flex;
    }
    .spotlight-boxes div {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .spotlight-tree-fort {
        display: none;
    }

    .page-links {
        display: none;
    }
    .date {
        margin: 0 auto;
    }

    .box1-hero .text-box  {
        /* object-fit: cover; */
        /* position: relative; */
        /* height:max-content; */
        position: absolute;
        bottom: 600px;
        /* right: ; */
        /* background: rgba(0, 0, 0, 0.5); */
        background-color: var(--blue-body);
        opacity: .9;
        /* color: black; */
        /* padding-left: 20px;
        padding-right: 20px; */
        padding: 0px 100px 0px 40px;
        box-shadow: 5px 5px 10px black;
    
    }
    .text-box h2 {
        color: black;
        font-size: 20px;
        /* text-shadow: 5px 2px 10px white; */
        
    }






    /********************************
            Start of Join Page
    ********************************/

    .content {
        width: 70%;
    }
    







}

@media only screen and (min-width: 50em) {

    :root {
        --blue-active: #3373A3;
        --blue-body: #B0D1EB;
        --gray: #666665;
        --background-white: white;
        --accent1: #F0B660;
        --accent2: #F8DEB6;
        --font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --roboto-font: 'Roboto';
        }

        .ham-box, .ham {
            display: none;
            
        }

        main {
            max-width: 1400px;
        }
        #main-boxes {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: auto;
            padding-bottom: 120px;

        }
        .spotlight-boxes {
            display: flex;
            flex-wrap: wrap;
            /* height: auto; */
            
        }
        
        .spotlight-boxes-holder {
            
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: auto;
        }

       
        .container {
            /* grid-row-start: 1; */
            grid-row-end: auto;
            height: auto;
            /* background-color: white; */
        }
        



        .box2-event {
            grid-column-start: 1;
            grid-column-end: 2;
            /* height: fit-content; */
            /* grid-row-start: 1;
            grid-row-end: 1; */
        }
        .box1-hero {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            /* grid-row-end: 3; */
            height: 70%;
            
            
            /* height: auto; */
            /* width: auto; */
        }
        /* .box3-new-releases {
            grid-column-start: 3;
            grid-column-end: 2;
            

            grid-row-start: 2;
            grid-row-end: 2;
        } */
        .box4-weather {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: auto;
            grid-row-end: 3;
        }
        .box5-join {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .page-links {
            margin: 15px;
            display: block;
            
        }
        .links a {
            color: var(--background-white);
            text-decoration: none;   
        }
        .date {
            margin: 0 auto; 
        }
        .spotlight-tree-fort {
            display: block;
        }

        .box1-hero .text-box  {
            /* object-fit: cover; */
            /* position: relative; */
            /* height:max-content; */
            position: absolute;
            bottom: 500px;
            /* right: ; */
            /* background: rgba(0, 0, 0, 0.5); */
            background-color: var(--blue-body);
            opacity: .9;
            /* color: black; */
            /* padding-left: 20px;
            padding-right: 20px; */
            padding: 0px 100px 0px 40px;
            box-shadow: 5px 5px 10px black;
        
        }
        .text-box h2 {
            color: black;
            font-size: 24px;
            /* text-shadow: 5px 2px 10px white; */
            
        }

        

        /* START OF DISCOVER PAGE */
        .grid-images {
            /* margin: 100px; */
            /* grid-column: 1fr 1fr 1fr; */
        }
        .grid-images img {
            margin: 20px;
        }
        .info-box {
            width: fit-content;
            
        }

        .grid-images img:hover {
            box-shadow: 0 0 60px black;
            
        }



        /********************************
                Start of Join Page
        ********************************/

        


}


