/* In case I want to use Roboto */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */



/* Variables */
:root {
--blue-active: #3373A3;
--blue-body: #B0D1EB;
--gray: #666665;
--border-gray: #979797;
--background-white: white;
--accent1: #F0B660;
--accent2: #F8DEB6;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* font-family: 'Roboto', sans-serif; */
}


body {
    text-align: center;
    /* margin: 0 auto; */
    padding: 10px;
    background-color: var(--blue-body);
}

.page-links {
    display: none;
}

.date {
    padding: 10px;
    background-color: var(--gray);
}

nav {
    background-color: var(--gray);
    /* width: 100%; */
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;

    
    
}

.nav-background {
    background-color: var(--gray);
}

.topnav {
    background-color: var(--gray);
    display: flex;
    overflow: hidden;
    margin: 15px;
    /* list-style: none; */
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    padding: 10px;
    justify-content: space-between;
    
    /* border: 1px solid black; */
}

nav div a {
    text-decoration: none;
    font-size: 0.75em ;
    color: black;
}

main {
    background-color: var(--background-white);
    max-width: 450px;
    margin: 0 auto;
    padding: 15px;
    /* padding-bottom: 10px;   */
}


/* Style the links inside the navigation bar */
.topnav a {
    float:left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;  
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--background-white);
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: var(--accent1);
    color: white;
    font-weight: bold;
}

.topnav a.active:hover {
    background-color: var(--blue-body);
    color: black;

}

p {
    /* max-width: 100%; */
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    color: black;
}

/* ADDING THE DORP DOWN MENU */
.topnav {
    overflow: hidden;
    /* background-color: #333; */
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav .myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.ham {
    background: var(--accent2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: var(--background-white);
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  /* .active {
    background-color: #04AA6D;
    color: black;
  } */










/* *******ADDED INFORMATION FROM THE OTHER PAGES********* */
.date p {
    background-color: var(--accent2);
    width: 70%;
    margin: 0 auto;
    padding: 4px 50px;
    font-family: var(--roboto-font);
    
    
    /* border-radius: 2px; */
    /* border: 1px solid var(--border-gray); */
    
}
main {
    background-color: var(--background-white);
    display: flex;
    max-width: 450px;
    margin: 0 auto;
    max-height: 100%;
    /* justify-content: space-between; */
    
    
}

#main-boxes {
    text-align: center;
    margin: 20px;
}

#main-boxes > div {
    border: 1px solid var(--border-gray);
    margin: 10px;
    background-color: lightgray;
    padding: 10px;
    height: auto;
    /* width: auto; */
    color: var(--gray);
    height: auto;
}
#main-boxes h4 {
    text-align: left;

}

#main-boxes .spotlight-boxes {
    /* background-color: red; */
    height: auto;
}
.spotlight-boxes div {
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--border-gray);
    /* height: 100px; */
}

/* Hamburger Menu Icon */
.ham {
    padding: 5px;
    text-decoration: none;
    border: 1px solid rgb(143, 143, 143);
    
}
.ham-box .ham {
    margin: 20px;
    display: flex;
    /* align-items: center; */
    color: var(--background-white);
    text-decoration: none;
    font-size: 120%;
    /* justify-content: center; */
    /* gap: 100px; */
    text-align: right;
}







@media only screen and (min-width: 32.5em) {
    :root {
        --blue-active: #3373A3;
        --blue-body: #B0D1EB;
        --gray: #666665;
        --background-white: white;
        --accent1: #F0B660;
        --accent2: #F8DEB6;
        --font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --roboto-font: 'Roboto';
        }

        nav {
            max-width: 750px;
        }
        
        

    .topnav {
        color: white
    }

    main {
        display: flex;


        max-width: 750px;
        margin: 0 auto;
    }

    #main-boxes .spotlight-boxes {
        display: flex;
    }
    .spotlight-boxes div {
        width: 100%;
        height: 200px;
        
    }
    
    .page-links {
        display: none;
    }
    .date {
        margin: 0 auto;
    }


    
}




@media only screen and (min-width: 50em) {

    :root {
        --blue-active: #3373A3;
        --blue-body: #B0D1EB;
        --gray: #666665;
        --background-white: white;
        --accent1: #F0B660;
        --accent2: #F8DEB6;
        --font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --roboto-font: 'Roboto';
        }

        .ham-box, .ham {
            display: none;
            
        }


        #main-boxes {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;

        }
        .spotlight-boxes {
            display: flex;
            flex-wrap: wrap;
        }
        .spotlight-boxes-holder {
            
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 4;
        }
        .box2-event {
            grid-column-start: 1;
            grid-column-end: 2;
            
        }
        .box1-hero {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            height: auto;
            width: auto;
        }
        .box3-new-releases {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .box4-weather {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .box5-join {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        



        

        .page-links {
            margin: 15px;
            display: block;
            
        }

        .links a {
            color: var(--background-white);
            text-decoration: none;
            
            
        }
        .date {
            margin: 0 auto;
            
        }
        /* p {
            color: red;
        } */
    

}


