/* In case I want to use Roboto */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */



/* Variables */
:root {
--blue-active: #3373A3;
--blue-body: #B0D1EB;
--gray: #666665;
--background-white: white;
--accent1: #F0B660;
--accent2: #F8DEB6;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* font-family: 'Roboto', sans-serif; */
}


body {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    background-color: var(--blue-body);
}


.topnav {
    background-color: var(--gray);
    display: flex;
    overflow: hidden;
    margin: 15px;
    list-style: none;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    /* border: 1px solid black; */
}

section div li a {
    text-decoration: none;
    font-size: 0.75em ;
    color: black;
}

main {
    background-color: var(--background-white);
    max-width: 700px;
    margin: 0 auto;
    padding-top: 10px;
    /* padding-bottom: 10px;   */
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;  
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--background-white);
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: var(--accent1);
    color: white;
    font-weight: bold;
}

.topnav a.active:hover {
    background-color: var(--blue-body);
    color: black;

}

p {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.color-section {
    padding-bottom: 50px;
}

.color-reference {
    background-color: var(--gray);
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    list-style: none;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    height: 60px;
    width: fit-content;

}
.color-reference a {
    float: left;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;  
}
.blue-active {
    background-color: var(--blue-active);
    font-weight: bolder;
}
.blue-body {
    color: black;
    font-weight: bolder;
    background-color: var(--blue-body);
}
.gray {
    color: black;
    font-weight: bolder;
    background-color: var(--gray);
}

.tan {
    color: black;
    font-weight: bolder;
    background-color: var(--accent1);
}

.light-tan {
    color: black;
    font-weight: bolder;
    background-color: var(--accent2);
}

.persona-1 img, .persona-2 img {
    padding-bottom: 20px;
}

.footer {
    background-color: var(--gray);
    overflow: hidden;
    color: var(--background-white);
}


/* img {
    border: 1px solid var(--gray);
} */



/* Change background color of buttons on hover */

/* Tablet Views */


/* Desktop Views */