
:root {
    --main-color: #1DA0F2;
    --yellow: #F5D11E;
    --redish: #F56C36;
    --turquise: #11F5CE;
    --light-blue: #05F2EF;
}




body {
    width: 100%;
    
    
}

main {
    text-align: center;
    padding: 100px;
}

h1 {
    padding-bottom: 100px;
}



.boxes {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: auto;
    text-align: center;
}

.boxes > div {
    padding: 50px;
    font-weight: bolder;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box1 {
    background-color: var(--main-color);
    
}
.box2 {
    background-color: var(--yellow);
}
.box3 {
    background-color: var(--redish);
}
.box4 {
    background-color: var(--turquise);
}
.box5 {
    background-color: var(--light-blue);
}

.visited {
    /* padding-top: 50px; */
    width: 40%;
    margin: 100px auto;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    border: 2px solid black;
    justify-content: center;
    padding: 10px;
}








.image {
    margin: auto;
    animation: mymove 100s infinite;
}

@keyframes mymove {
    50% {transform: rotate(1080deg);}
  }

