:root {
	--back: rgba(154, 240, 166, 0.671);
    --back2: rgba(39, 114, 158, 0.521);
	--shadow: hsl(0,0%,50%);
	--zebra: rgb(231, 230, 230);
	--zebra2: rgba(123, 255, 248, 0.219);
    --border: rgba(54, 54, 54, 0.849);
}

table {
    font-family: Ubuntu, sans-serif;
	margin: 50px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 30px var(--shadow);
	border-collapse: collapse;
	font-size: larger;
}

caption {
    padding: 10px;
    caption-side: bottom;
	color: black;
	font-size: .85rem;
}

tr:first-child th {
	background-color: var(--back);
	color: var(--black);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--border);
}

th {
	background-color: var(--back2);
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}
tbody tr:nth-child(odd) {
	background-color: var(--zebra2);
}

.highlight {
    background-color: rgba(39, 114, 158, 0.521);
	color: white;
	
}

.footer {
	background-color: rgba(39, 114, 158, 0.521);
	font-size: 14px;
}