h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.add_border {
    border: 5px solid green;
}

#grid {
    /* display: flex;
    flex-wrap: wrap;
    gap: 20px; */



    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 50px;
    justify-items: center;

}
.box {
    height: 500px;
    width: 230px;
    background-color: lightblue;
    border: 4px solid black;
    margin: 0 auto;
    
    

}

@media only screen and (max-width: 1000px) {
    #grid {
        grid-template-columns: 1fr 1fr;

    }
    .box:nth-of-type(3) {
        grid-column: 1/3;
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    #grid {
        grid-template-columns: 1fr;
    }

    .box:nth-of-type(3) {
        grid-column: 1/2;
        width: 100%;
    }
}