

body {
    width: 100%;
    margin: 0 auto;
    justify-content: center;  
}

header {
    background-color: rgb(24, 61, 95);
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 5px;
    font-size: 1.5em;
    font-family:'Courier';

}

.box-header h3 {
    padding-left: 10px;
    font-size: 26px;
    font-weight: bolder;
}



#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 25px;
    justify-items: center;
    margin: 20px auto;
    width: fit-content;
}

.box-header {
    background-color: rgb(24, 61, 95);
    color: white;
    text-align: left;
    height: auto;
    width: auto;
    font-family:'Courier';
}

.box {
    width: 420px;
    background-color: rgb(231, 230, 230);
    margin: 0 auto;
    text-align: center;
    padding: 10px;

    color: black;
}

.card {
    box-shadow: 0 0 0 2px;
    display: flex;
    height: fit-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    float: left;
}


p {
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    padding-left: 5px;
}

.content {
    font-size:20px;
    text-align: center;

}


img {
    border: 2px solid lightgray;
    height: auto;
    width: auto;
}

footer {
    text-align: center;
    background-color: rgb(24, 61, 95);
    color: white;
    /* height: 50px; */
    text-align: center;
    align-items: center;
    padding: 20px;
    font-size: 1.2em;
    font-family:'Courier';
    
    
}





@media only screen and (max-width: 1200px) {
    #grid {
        grid-template-columns: 1fr 1fr;

    }
    .box:nth-of-type(3) {
        grid-column: 1/3;
        width: 100%;
    }
    
}

@media only screen and (max-width: 800px) {
    #grid {
        grid-template-columns: 1fr;
    }

    .box:nth-of-type(3) {
        grid-column: 1/2;
        width: 50%;
    }
    
    
}