/* @media only screen and (max-width: 1000px) {
    #grid {
        grid-template-columns: 1fr 1fr;

    }
    .box:nth-of-type(3) {
        grid-column: 1/3;
        width: 50%;
    }
    header {
        color: blue;
    }
} */