/* @media only screen and (max-width: 600px) {
    #grid {
        grid-template-columns: 1fr;
    }

    .box:nth-of-type(3) {
        grid-column: 1/2;
        width: 100%;
    }
    header {
        color: red;
    }
} */
