body {
    background-color: #80c6e8;
    background-image: url(images/8124257.webp);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: -75px;
    background-position-y: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

header {
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

.main-container {
    margin: 0 auto;
    width: 400px;
    background-color: rgb(211, 211, 211);
    border: 10px solid #d6b317;
    text-align: center;
    height: 535px;
    border-radius: 15px;
    box-shadow: 8px 10px 10px rgb(85, 84, 84);
}

.image-box {
    background-color: white;
    border: 5px solid #d6b317;
    margin: 23px;
    height: 220px;
    box-shadow: 5px 5px 5px rgb(56, 56, 56);
    background-image: url(images/pokemon-oras-battle-background-by-Jenske05-on-DeviantArt.jpg);
    background-position: center;
}

.search {
    font-weight: bolder;
}

input {
    height: 26px;
}

.search-container {
    padding-top: 10px;
    font-size: 30px;
    align-items: baseline;
}

#update-img {
    padding: 60px 0px 0px 20px;
    height: 70%;
}

.top-container {
    border-radius: 15px;
    background-color: whitesmoke;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding: 0px 30px 30px 30px;
    border: 2px solid #4f4c4a ;
}

.abilities {
    font-size: large;  
}

li {
    padding-bottom: 20px;
    list-style: none;
}

/* Header of a div */
.header {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    height: 30px;
    padding-bottom: 10px; 
}
.hp {
    padding-right: 10px;
    font-size: larger;
}

.title {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
}
#update-name {
    font-size: 24px;
    padding-right: 40px; 
}

hr {
    width: 75%;
}


