
header {
    background-color: #3377aa;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px gray;
    text-align: center;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    margin-top: 25px;
    font-family:'Times New Roman';
    text-shadow: 0px 0px 15px black;
}

img {
    width: 200px;
    margin: 20px 20px 20px 40px;
    box-shadow: 0px 0px 20px black;
}

body{
    max-width: 800px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 auto;
}

li {
    font-size: large;
    padding: 4px;
    color: black;
    font-family:'Courier';
    font-weight: bolder;
}

main{
    margin-left: 40px;
}

main h1 {
    text-shadow: 0px 0px 15px gray;
    color: black;
    font-family:'Courier';
}

footer {
    background-color: #3377aa;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px gray;
    margin-top:50px;
    text-align: center;
    align-items: center;
    font-size: 20;
    font-weight: lighter;
    padding: 4px;
    text-shadow: 0px 0px 10px black;
}

p {
    color: yellow;
    font-size: 20px;
    font-family:'Courier';
    font-weight: bolder;
}

i {
    color: gray;
    font-family:'Courier';
    font-weight: bolder;
}

